.slider{
    width: 40%;
    height: 500px;
    overflow: hidden;
}
.slides{
   width: 400%;
   display: flex;
}
.slides input{
    display: none;
}
.slide1{
    width: 25%;
    position: relative;
    transition: 2s;
    background-image: url("masterchef-abre-inscricoes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.slide2{
    width: 25%;
    position: relative;
    transition: 2s;
    background-image: url("calcular-13.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.slide3{
    width: 25%;
    position: relative;
    transition: 2s;
    background-image: url("participantes-master-chef.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.slide4{
    width: 25%;
    position: relative;
    transition: 2s;
    background-image: url("premio-ta-no-zap.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.slide>img{
    height: 100vh;
}
.manual-navigation{
    position: absolute;/*manter*/
    width: 39.6%;
    margin-top: -165.5px;
    display: flex;
    padding-left: 12px;
    justify-content: center;
    gap: 3px;
}
.manual-btn{
    border: 3px solid white;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #FFF;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.navigation-auto{
    position: absolute;
    width: 39.6%;
    margin-top: 460px;
    display: flex;
    padding-left: 12px;
    gap: 3px;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}
@media (max-width: 768px){
    .slider{
        width: 45%;
        height: 441px;
    }
    .manual-navigation{
        margin-top: -88px;
    }
    .navigation-auto{
        margin-top: 351px;
    }
    .slide1{
        height: 100%;
    }
    .slide2{
        height: 100%;
    }
    .slide3{
        height: 100%;
    }
    .slide4{
        height: 100%;
        
    }
}
@media (max-width: 425px){
    .slider{
        margin-top: 50px;
        width: 100%;
    }
    .manual-navigation{
        padding-left: 12px;
        margin-left: 100px;
    }
    .navigation-auto{
        margin-left: 100px;
    }   
}